body {
  margin: 0;
  padding: 0;
  background: url(kermit.jpg);
  background-size: cover;
  font-family: sans-serif;
}

.to-do {
  width: 400px;
  height: 500px;
  background: #f5f5dc;
  color: black;
  top: 15%;
  right: 20%;
  position: absolute;
  box-sizing: border-box;
  border-radius: 5%;
  padding: 2% 2%;
  border-style: solid;
  border-color: #98fb98;
  border-width: 7px;
  box-shadow: 3px 3px 5px 5px #0c0c0c;
}

h2 {
  text-align: center;
  font-size: 25px;
  padding: 0 0 20px;
  margin: 0;
}

.to-do p {
  font-weight: bold;
  padding: 0;
}
