body {
  margin: 0;
  padding: 0;
  background: url(kermit.jpg);
  background-size: cover;
  font-family: sans-serif;
}

.to-do {
  width: 400px;
  height: 500px;
  background: white;
  color: black;
  top: 15%;
  right: 20%;
  position: absolute;
  box-sizing: border-box;
  border-radius: 5%;
}
